textarea {
  max-width: 100%;
  width: 100%;
  display: block;
  padding: 10px 20px;
  margin: 0 0 20px 0;
  font-family: Golos, Arial, sans-serif;
  border: 1px solid #e2e2e2;
  box-sizing: border-box;
}

.editor_clearing {
  width: 75px;
  height: 20px;
  border: 2px solid #e2e2e2;
  background-color: #f3f1eb;
  text-align: center;
  padding: 3px;
  margin: auto;
  cursor: pointer;
}
